.header__logo {
  background-size: cover;
  width: 104px;
  height: 25px;
  margin-left: 27px;
  margin-bottom: 32px;
}

@media screen and (min-width: 880px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin-left: 0;
    margin-bottom: 41px;
  }
}