.profile {
  margin: 42px auto 0;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .profile {
    flex-direction: row;
    width: calc(100% - 100px);
    margin: 40px auto 0;
  }
}