.profile__description {
  margin: 5px 0 34px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__description {
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0 30px;
    text-align: start;
    max-width: 336px;
  }
}